{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header %}

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-75 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Vacation Denmark</h1>
                    <p class="lead">These are the foto's from when my little brother and I went on a vacation in Denmark</p>
                </div>
            </div>
        </div>
    </header>


{% endblock %}

{% block main %}
    <div class="container p-3 mt-5">
    {#    <h1>Hello {{ controller_name }}! ✅</h1>#}
{#        <div class="d-flex flex-row">#}
{#        <div class="d-flex flex-row flex-wrap justify-content-center">#}
        <div class="card-columns">
        {% for image in images|sort %}
{#            <div class="mb-3 col-lg-3 col-md-3 col-xs-3 d-flex align-self-start justify-content-around">#}
            <div class="card">
                <img src="{{ image|e }}" class="card-img img-fluid"/>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
