{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header %}

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-75 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Vacation Denmark</h1>
                    <p class="lead">These are the foto's from when my little brother and I went on a vacation in Denmark</p>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block main %}
    <div class="container p-3 mt-5">
        <div class="card-columns gallery">

        {% for gal in gallery %}
            <div class="card">
{#                <a href="../../gallery/{{ image|e }}" data-toggle="lightBox" data-target="lightBox"></a>#}
{#                <a href="#lightBox" data-toggle="modal" data-target="#lightBox"></a>#}
                <a href="../../gallery/20200724_201438.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="{{ gal.image|e }}" class="card-img img-fluid" />
                </a>
                <h4>{{ gal.info }}</h4>
            </div>
        {% endfor %}
        </div>

        <div class="modal fade" id="lightbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="//media.tenor.com/images/556e9ff845b7dd0c62dcdbbb00babb4b/tenor.gif" alt="" id="image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

