{% extends 'admin.html.twig' %}

{% block main %}

{#    {% include 'admin/gallery/_form.html.twig' %}#}

    <section class="d-flex">
        <a href="{{ path('gallery_index') }}" class="btn text-center mr-5" type="button" style="font-size: 1.5em;"><i class="fas fa-arrow-left"></i> Back</a>
        <h1>Create new Gallery</h1>
    </section>

    <form name="gallery" method="post" enctype="multipart/form-data">
        <div id="gallery">
            <div class="form-group">
                <label for="gallery_info" class="required">Info</label>
                <input type="text" id="gallery_info" name="gallery[info]" required="required" maxlength="255" class="form-control" />
            </div>
            <div class="form-group">
                <label for="gallery_category" class="required">Category</label>
                <input type="text" id="gallery_category" name="gallery[category]" required="required" maxlength="100" class="form-control" />
            </div>
            <div class="form-group">
                <label for="gallery_image_name">Upload images</label>
                <div class="custom-file">
                    <input type="file" accept="image/jpeg,image/png" id="gallery_image_name" name="gallery[image_name]" class="pointer custom-file-input" />
                    <label for="gallery_image_name" lang="en"  class="custom-file-label  text-right label shadow-none"></label>
                </div>
            </div>
            <input type="hidden" id="gallery__token" name="gallery[_token]" value="{{ csrf_token('gallery') }}" />
        </div>
        <div class="float-right mt-5">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>

{% endblock %}
